
{% extends 'base.html' %}

{% block content %}
      <header class="main4 vh-100 bg-body-tertiary">
        <div class="container-sm rounded-4 text-light p-5 bg-dark" id="blog">
          <div class="row text-left">
            {% for blog in blogs %}
            <div class="col-5 text-light rounded-3">

              <span class="badge text-bg-success">New</span>
              <!-- <h1 class="fw-bold">Welcome!</h1>
              <h5 class="fw-normal">Week 1 - Monta Vista</h5>
              <p class="fw-lighter">Welcome to our first blog! This is our ceromonious beginning to a long, and hopefully thriving journey going forwards! Today's blog was kept clean and simple - a twelve-second footage of the interior of Monta Vista, at Monta Vista High. Cheers! </p> -->

              <h1 class="fw-bold">{{ blog.title}}</h1>
              <h5 class="fw-normal">{{ blog.headline}}</h5>
              <p class="fw-lighter">{{ blog.description}}</p>

            <div class="col align-self-center">
              <!-- <video class="rounded-5" autoplay muted controls>
                <source  src="{{blog.footage}}" type="video/mp4">
                Your browser does not suppor the video tag.
              </video> -->
              <iframe class="rounded-5" src="{{blog.footage}}" title="VistaFPV Blog 2" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>


              <!-- embed youtube link here -->
            </div>
            <hr>
            <div class="row">
              <div class="col pt-5">
                <!-- Map image -->


                <img class="img-fluid rounded-3" id="blogmap" src="{{blog.image}}" alt="map">
              </div>
            </div>
          {% endfor %}

        </div>
      </header>
{% endblock%}